@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --text-transform: uppercase;
    --letter-spacing: 2px;
    --dark-color: #000;
}

body {
    font-style: normal;
    font-family: "Rethink Sans", serif;
    font-weight: 400;
}

.main-header .navbar-nav > li > .nav-link {
    padding: 0 5px;
    margin-right: 2px;
    font-weight: 600;
    text-transform: var(--text-transform);
    font-size: 14px;
    letter-spacing: var(--letter-spacing);
}

.main-header {
    background: transparent;
    backdrop-filter: blur(5px);
}

.section-heading {
    font-weight: 700;
    letter-spacing: var(--letter-spacing);
    margin-bottom: 2rem;
    text-transform: var(--text-transform);
}

.about-section {
    padding-top: 9.375rem;
    padding-bottom: 6.25rem;
}

/* Projects section */
.card {
    border: none;
}

.card-body {
    margin-left: 2.5rem;
}

.projects-container img {
    border-radius: 1.5rem;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}

.projects-container img:hover {
    border-radius: 0.8rem;
}

.projects-container .title-project {
    font-weight: 700;
    letter-spacing: var(--letter-spacing);
    margin-bottom: 0.7rem;
    text-transform: var(--text-transform);
}

.projects-container .languages {
    margin-bottom: 1rem;
}

 .projects-container .languages img {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 0.4rem;
}

/* Experience section */

.experience-section {
    margin-bottom: 6.25rem;
}

.experience-section .experience-container .work-title {
    text-transform: var(--text-transform);
}

ul.timeline {
    list-style: none;
    position: relative;
}

ul.timeline::before {
    background: var(--dark-color);
    content: ' ';
    display: inline-block;
    height: 100%;
    left: 1rem;
    position: absolute;
    width: 0.15rem;
}

ul.timeline > li {
    margin: 1.25rem 0;
    padding-left: 1.25rem;
    padding-bottom: 1rem;
}

ul.timeline > li:before {
    content: ' ';
    background: var(--dark-color);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 0.5rem;
    width: 1.15rem;
    height: 1.15rem;
}


@media (max-width: 767px) {
    .about-section {
        padding-top: 3rem;
        padding-bottom: 4.375rem;
    }

    .about-section-photo img {
        width: 19rem;
        height: 19rem;
    }

    .title-project {
        padding-top: 1rem;
    }

    .card-body {
        margin-left: auto;
    }
}